https://realpython.com/python-mysql/

In [17]:
#pip install mysql-connector-python;
#pip install mysql-connector;

In [18]:
import pandas as pd;
movies = pd.read_csv('./IMDB-Movie-Data.csv');
movies.head(5);
movies.describe();

In [1]:
import mysql.connector

In [2]:
from getpass import getpass
from mysql.connector import connect, Error
try:
    with connect(host="db225.c6agbyqph65a.us-east-1.rds.amazonaws.com",
        user="admin",
        password="Alwaysschool1!",
    ) as connection:
        show_db_query = "SHOW DATABASES"
        with connection.cursor() as cursor:
            cursor.execute(show_db_query)
            for db in cursor:
                print(db)
except Error as e:
    print(e)

2003: Can't connect to MySQL server on 'db225.c6agbyqph65a.us-east-1.rds.amazonaws.com:3306' (60 Operation timed out)

In [3]:
import pandas as pd;
movies = pd.read_csv('./IMDB-Movie-Data.csv');
movies.head(5);
movies.describe();
# try:
#     with connect(host="smd-1.cr5zcfvn0ztg.us-east-1.rds.amazonaws.com",
#         user="admin",
#         password="admin123",
#     ) as connection:
#         for i in range(movies.len()):
#             show_db_query = "Insert"+value
#             with connection.cursor() as cursor:
#                 cursor.execute(show_db_query)
#                 for db in cursor:
#                     print(db)
# except Error as e:
#     print(e)

In [ ]:
from getpass import getpass
from mysql.connector import connect, Error

try:
    with connect(host="localhost",user=input("Enter username: "),password=getpass("Enter password: "),database="online_movie_rating"
    ) as connection:
        create_states_table_query = "CREATE TABLE states(id INT AUTO_INCREMENT PRIMARY KEY,State VARCHAR(100))"
        with connection.cursor() as cursor:
            cursor.execute(create_states_table_query)
            connection.commit()
except Error as e:
    print(e)

In [13]:
from getpass import getpass
from mysql.connector import connect, Error

try:
    with connect(host="localhost",user=input("Enter username: "),password=getpass("Enter password: "),database="online_movie_rating"
    ) as connection:
        show_table_query = "DESCRIBE states"
        with connection.cursor() as cursor:
            cursor.execute(show_table_query)
            result = cursor.fetchall()
            for row in result:
                print(row)
except Error as e:
    print(e)

Enter username: root
Enter password: ········
('id', b'int', 'NO', 'PRI', None, 'auto_increment')
('State', b'varchar(100)', 'YES', '', None, '')